body.lightMode  {
    color: black;
    background-color: #ffffff !important;
}

.lightMode td {
    color: black;
}

.lightMode tbody, .lightMode thead tr:hover {
    background: #ffffff;
}

.lightMode #tableContainer input {
    background-color: #c3c3c3;
    color: black;
}

.lightMode #addColBar {
    background: #c3c3c3;
}

.lightMode #addColBar:hover {
    background: #a09f9f;
}

.lightMode tr th, .lightMode th:first-child, .lightMode td:first-child {
    background-color: #c3c3c3;
}

.lightMode th:not(:first-child):after {
  border-bottom: 9px solid white;
}

.lightMode tr th {
    background-color: #c3c3c3;
}

/*Totals row*/
.lightMode tbody tr:last-child td {
    background-color: #c3c3c3;
}

/*Totals row inputs*/
.lightMode tbody tr:last-child td input {
    background-color: #ececec !important;
}

.lightMode #Total-Corner:hover {
    background-color: #a09f9f;
}

.lightMode .last_base_td:hover {
    background-color: #a09f9f;
}

.lightMode #quickActions {
    background:#f9f9f9;
}

.lightMode #quickActions button, .lightMode #sortedScoresModal button {
    background-color: #c3c3c3;
    color: black;
}

.lightMode #quickActions button:hover, .lightMode #sortedScoresModal button:hover {
    background-color: #a09f9f;
}

.lightMode #quickActions button img, .lightMode #sortedScoresModal button img {
    filter: invert(100%);
}

.lightMode #sortedScoresModal {
    background-color: #ffffff;
}

.lightMode #darkModeButton:hover {
    background-color: #a09f9f;
}